[Unit]
Description=Valheim plus for valheim server
StandardOutput=journal
StandardError=journal

[Service]
Type=simple
User=valheim
ExecStart=/usr/local/valheim-server/start_server_bepinex.sh
ExecStop=/usr/bin/pkill --signal SIGINT "valheim"
WorkingDirectory=/usr/local/valheim-server